---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Button from "../components/Button.astro";
import ivafoto from "../assets/images/iva_foto.jpg";
import ivanew from "../assets/images/iva_new_mamber.jpg";
import figma from "../assets/images/icons/figma.png";
import photoshop from "../assets/images/icons/ps.png";
import indesign from "../assets/images/icons/ai.png";
import affinity from "../assets/images/icons/affinity.png";
import html from "../assets/images/icons/html.png";
import css from "../assets/images/icons/css.png";

const projects = await Astro.glob("../projects/*.md");
---

<Layout title="Iva Valencic - Designer">
  <main>
    <section class="container layout_name_foto">
      <div class="name">
        <p>ui designer</p>
        <h1>Iva Valenčić</h1>
        <a href="/ui-design/"><Button>See the latest project</Button></a>
      </div>

      <Image
        src={ivafoto}
        alt="Iva Valencic"
        class="color-change-image"
        title="iva foto"
      />
    </section>
    <!-- <section class="carousel">
      <Button id="left">&#10094;</Button>
      <div class="projects">
        {
          projects.map((project) => (
            <a href={`/projects/${project.frontmatter.slug}`} class="project">
              <Image
                src={project.frontmatter.index.src}
                alt={project.frontmatter.index.alt}
                id={project.frontmatter.index.id}
                width={500}
                height={500}
              />
            </a>
          ))
        }
      </div>
      <Button id="right">&#10095;</Button>
    </section> -->
    <section class="container layout_new_member">
      <h4>Looking for a new member for your creative team?</h4>

      <div class="text_padding">
        <p>
          I am a Croatia-based designer. A graduate of the Zagreb School of Fine
          Arts and a student of Algebraic Visual communication design. I worked
          as a graphic designer for C&A, began my Ui design career at
          Luna&Tocka, a marketing company, and even collaborated with Amor
          Lingua School to create one of their pages. I took part in the ICDC
          Challenge 2023 as a member of the Croatian team.
        </p>

        <p>
          As a freelancer, I continue to work with smaller companies, but I
          would like to join a larger team of designers so that I may learn from
          more knowledgeble and skilled people and bring my ideas to the time.
        </p>
      </div>
    </section>

    <section class="icon">
      <div class="container">
        <h4>What I use:</h4>
        <Image src={figma} alt="Figma" title="figma" />
        <Image src={photoshop} alt="Photoshop" title="photoshop" />
        <Image src={indesign} alt="Indesign" title="indesign" />
        <Image src={affinity} alt="Affinity" title="affinity" />
        <Image src={html} alt="HTML" title="html" />
        <Image src={css} alt="CSS" title="css" />
      </div>
    </section>

    <section class="container layout_need_somebody">
      <h4>
        Need somebody to help you create
        <br class="web_br" /> interesting and challenging designs?
      </h4>
      <div class="text_padding">
        <p>
          I am a UI designer that specializes in minimalistic and elegant
          websites. I enjoy demonstrating the prestige of products and services
          using colors and white space.
        </p>

        <p>
          I build premium websites with easily accessible information by fusing
          aesthetic appeal with technical usability. I use figma and adobe
          programs to create sites that showcase brands class as well as their
          knowledge. I work to make smaller brands find their customers and
          captivate them with their prestige.
        </p>
        <p>
          Elegance is felt in every click a customer makes before deciding to
          purchase goods or use service. My goal is for brands to find their
          true prestige in their online presence, and to show their customers
          the new way to solve their problems.
        </p>
      </div>
      <Image
        src={ivanew}
        alt="Iva Valencic"
        class="color-change-image"
        title="iva new member"
      />
    </section>
  </main>
</Layout>
<script>
  let slider = document.querySelector(".projects");
  const left = document.getElementById("left");
  const right = document.getElementById("right");
  const boxes = slider?.querySelectorAll("a");
  let boxSize = 0;

  boxes?.forEach((box) => {
    boxSize = box.offsetWidth;
    const size = `${boxSize}px`;
    const sizeInPx = parseFloat(size);
    const sliderSize = sizeInPx * 3;

    slider.style.width = `${sliderSize}px`;
  });

  let isMoving: boolean;
  let curentIndex = 0;
  const totalIndex = 3;

  function moveSlider() {
    slider.style.transform = `translateX(-${curentIndex * boxSize}px)`;
  }

  function handleLeft() {
    if (isMoving) {
      return;
    }
    isMoving = true;
    curentIndex--;
    if (curentIndex < 0) {
      curentIndex = totalIndex - 1;
    }
    moveSlider();
    isMoving = false;
  }
  function handleRight() {
    if (isMoving) {
      return;
    }
    if (curentIndex >= totalIndex) {
      console.log(curentIndex);
      curentIndex = 0;
    }
    isMoving = true;
    curentIndex++;
    moveSlider();
    isMoving = false;
  }

  left?.addEventListener("click", handleLeft);
  right?.addEventListener("click", handleRight);
</script>
<style>
  .layout_name_foto {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
  }
  .name {
    width: 60%;
    text-align: left;
    padding-top: 30px;
  }
  .name p {
    font-weight: 400;
    font-size: 30px;
    line-height: 320%;
    text-transform: uppercase;
  }
  .name h1 {
    margin-bottom: 75px;
  }
  .layout_name_foto img {
    width: 40%;
    height: fit-content;
    position: relative;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    object-fit: cover;
    filter: grayscale(100%);
    transition: all 0.5s linear;
  }
  .layout_name_foto img:hover {
    filter: grayscale(0%);
  }
  #btn {
    padding: 30px 40px;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
  }
  #btn:hover {
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
  }

  .layout_new_member {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    gap: 5%;
  }
  .layout_new_member h4 {
    width: 100%;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 10px;
  }
  .layout_new_member div {
    width: 100%;
    margin-top: auto;
    padding-bottom: 20px;
    padding-top: 30px;
  }
  .text_padding p {
    padding: 10px;
  }
  .layout_new_member img:hover {
    filter: grayscale(0%);
  }

  .icon {
    padding: 20px;
    margin-bottom: 30px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
  }
  .icon h4 {
    margin: auto 0;
  }
  .icon img {
    filter: grayscale(100%);
  }
  .icon img:hover {
    filter: grayscale(0%);
  }

  .layout_need_somebody {
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto;
    gap: 5%;
  }
  .layout_need_somebody h4 {
    width: 100%;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 10px;
  }
  .layout_need_somebody img {
    width: 60%;
    height: auto;
    position: relative;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    object-fit: cover;
    filter: grayscale(100%);
    transition: all 0.5s linear;
  }
  .layout_need_somebody div {
    width: 35%;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 20px;
    padding-top: 30px;
  }
  .layout_need_somebody img:hover {
    filter: grayscale(0%);
  }
  .carousel {
    white-space: nowrap;
    position: relative;
    display: flex;
  }

  .projects {
    margin: 0;
    cursor: pointer;
    padding: 0 5vw;
  }

  .carousel img {
    width: calc(83vw / 3);
    object-fit: scale-down;
    background-color: #474747;
    margin: 0 1vw;
    filter: grayscale(100%);
  }

  .carousel img:hover {
    filter: grayscale(0%);
  }
  #leko:hover {
    background-color: #666666;
  }
  #IntentionKeeper:hover {
    background-color: #000000;
  }
  #jungle:hover {
    background-color: #8f918c;
  }
  .mob_img {
    display: none;
  }
  .projekt_mob_img {
    display: none;
  }
  .wrapp_mob {
    display: none;
  }

  @media (max-width: 768px) {
    .name {
      width: 100%;
      padding-top: 0;
    }
    .name p {
      font-size: 18px;
    }
    .name h1 {
    }
    h1 {
      font-size: 1.7em;
    }
    .layout_name_foto img {
      width: 100%;
      height: fit-content;
      padding: 0;
      margin-top: 60px;
    }

    .color-change-image {
      filter: grayscale(100%);
    }
    h2 {
      font-size: 50px;
    }
    h3 {
      font-size: 25px;
      padding-bottom: 10px;
    }
    .h3_full {
      color: #5b5b5b;
      font-size: 35px;
    }
    h4 {
      font-size: 18px;
      text-transform: none;
      color: #5b5b5b;
    }
    .layout_new_member {
      margin: 30px auto;
      gap: 0;
    }
    .layout_new_member h4 {
      width: 100%;
    }
    .web_img {
      display: none;
    }
    .projekt_web_img {
      display: none;
    }
    .mob_img {
      display: inline;
    }

    .layout_new_member img {
      width: 100%;
      padding: 0;
    }
    .layout_new_member div {
      width: 100%;
    }
    #IntentionKeeper {
      background-color: #000000;
    }
    #leko {
      background-color: #666666;
    }
    #jungle {
      background-color: #8f918c;
    }
    .carousel img {
      height: 150px;
      padding: 10px 20px;
      border: 1px solid #000000;
      width: calc(95% / 1);
      filter: grayscale(0%);
      filter: contrast(100%);
      filter: brightness(100%);
    }

    .icon {
      padding: 30px;
      padding-top: 0;
      margin-top: 30px;
    }
    .icon h4 {
      margin: 10px 0;
      width: 100%;
    }
    .icon img {
      filter: grayscale(100%);
      width: fit-content;
      height: 30px;
    }
    .layout_need_somebody {
      gap: 0;
    }
    .layout_need_somebody h4 {
      width: 100%;
    }
    .layout_need_somebody img {
      width: fit-content;
      height: 250px;
      padding: 5px;
    }
    .layout_need_somebody div {
      width: 100%;
    }
  }
  @media only screen and (max-width: 1400px) and (min-width: 768px) {
    .name h1 {
      font-size: 50px;
      margin-bottom: 70px;
    }

    .layout_name_foto img {
      width: 50%;
      margin: 0;
    }
    .name {
      width: 50%;
    }
    .name h1 {
      font-size: 2.5rem;
    }
    #btn {
      font-size: 15px;
      border-top: 1px solid #000000;
      border-right: 1px solid #000000;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
    }
    #btn:hover {
      border-top: 1px solid #000000;
      border-right: 1px solid #000000;
    }

    .layout_new_member img {
      width: 70%;
      padding-left: 0px;
    }

    .layout_new_member div {
      width: 100%;
    }
    #IntentionKeeper {
      background-color: #000000;
    }
    #leko {
      background-color: #666666;
    }
    #jungle {
      background-color: #8f918c;
    }
    .carousel img {
      height: 200px;
      padding: 40px 40px;
      border: 1px solid #000000;
      width: calc(93% / 2);
      filter: grayscale(0%);
      filter: contrast(100%);
      filter: brightness(100%);
    }
    .icon {
      padding: 10px;
      margin-top: 30px;
    }
    .icon h4 {
      margin: 30px 0;
      width: 40%;
    }
    .icon img {
      filter: grayscale(100%);
      width: fit-content;
      height: 40px;
      margin: auto;
    }
    h4 {
      font-size: 30px;
      text-transform: none;
      color: #5b5b5b;
    }
    .web_br {
      display: none;
    }

    .layout_need_somebody {
      margin: 40px auto;
      gap: 0;
    }

    .layout_need_somebody img {
      width: 100%;
    }
    .layout_need_somebody div {
      width: 100%;
    }

    .mob_img {
      display: inline;
      margin-left: 10px;
    }
    #ivasome {
      display: inline;
      margin-left: 8px;
      padding: 0;
    }
    .web_img {
      display: none;
    }
  }
</style>
