---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets";
import landing from "../asssets/images/projects/intention-keeper/landing_page.jpg"
import home from "../asssets/images/projects/intention-keeper/home.jpg"
import specific from "../asssets/images/projects/intention-keeper/lock.jpg"
import lock from "../asssets/images/projects/intention-keeper/lock.jpg"
import unlock from "../asssets/images/projects/intention-keeper/unlocked_apps.jpg"
import settings from "../asssets/images/projects/intention-keeper/settings.jpg"
import popuplock from "../asssets/images/projects/intention-keeper/pop_up_lock_screen.jpg"
import popupunlock from "../asssets/images/projects/intention-keeper/pop_up_lock_screen_unlocked_apps.jpg"
import popuptype from "../asssets/images/projects/intention-keeper/pop_up_app_type.jpg"
import popupscreen from "../asssets/images/projects/intention-keeper/pop_up_lock_screen_done.jpg"
import popuptimer from "../asssets/images/projects/intention-keeper/pop_up_app_timer.jpg"
import popup9 from "../asssets/images/projects/intention-keeper/pop_up_app_9min.jpg"
import popupad from "../asssets/images/projects/intention-keeper/pop_up_app_ad.jpg"
import intention from "../asssets/images/ui_design/intention_keeper.png"
---

<Layout title="Iva Valencic - Designer">
    <section class="Ostali_projekti">
        <a href="/jungle-portfolio">Jungle</a>
        <a href="/leko-i-partneri">Leko & Partneri</a>
        <a href="/intention-keeper" class="trenutno">Intention Keeper</a>
    </section>
    <main>
        <div class="mockup_right">
            <section class="container portfolio_ui_web">
                <div class="portfolio_ui_text">
                    <h3 class="h3_full">Intention Keeper</h3>
                    <h3>App Usage Manager</h3>
                    <p>informacije o aplikaciji
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic dolorem labore aperiam itaque delectus nemo quibusdam ipsum reprehenderit est aliquid officiis numquam recusandae odit, perspiciatis ullam voluptates provident quos ab.
                    </p>
                    <a href="https://www.figma.com/proto/0hE5dwBKcWNWYO9qlhj6Wf/IntentionKeeper---App?page-id=0%3A1&type=design&node-id=1-2&viewport=42%2C357%2C0.09&t=Oy7QhdHCN20l8LuQ-1&scaling=scale-down&starting-point-node-id=1%3A2&show-proto-sidebar=1&mode=design"
                        class="btn" target="_blank">figma prototype</a>
                </div>
            </section>
            <Image src={intention} alt="IntentionKeeper" class="web_img" title="intention keeper">
        </div>
        <Image src={intention} alt="IntentionKeeper" class="mob_img projekt_mob_img" title="intention keeper">
        <section class="container">
            <p>informacije o aplikaciji
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic dolorem labore aperiam itaque delectus nemo quibusdam ipsum reprehenderit est aliquid officiis numquam recusandae odit, perspiciatis ullam voluptates provident quos ab.</p>
        </section>
        <section class="wrapp">
            <!-- <a class="left app_strelica" onclick="left()">&#10094;</a> -->
            <div class="app">
                <Image src={landing} alt="IntentionKeeper Landing page" title="landing">
                <Image src={home} alt="IntentionKeeper Home" title="home">
                <Image src={specific} alt="IntentionKeeper Specific app" title="specific">
                <Image src={lock} alt="IntentionKeeper Locking apps" title="lock">
                <Image src={unlock} alt="IntentionKeeper Unlocked apps" title="unlock">
                <Image src={settings} alt="IntentionKeeper Settings" title="settings">
                <Image src={popuplock} alt="IntentionKeeper Pop-up lock screen" title="popuplock">
                <Image src={popupunlock} alt="IntentionKeeper Pop-up Unlocked apps" title="popupunlock">
                <Image src={popuptype} alt="IntentionKeeper Type" title="popuptype">
                <Image src={popupscreen} alt="IntentionKeeper Screen done" title="popupscreen">
                <Image src={popuptimer} alt="IntentionKeeper Pop-up lock screen" title="popuptimer">
                <Image src={popup9} alt="IntentionKeeper Countdown" title="popup9min">
                <Image src={popupad} alt="IntentionKeeper Pop-up app-ad" title="popupad">
            </div>
            <!-- <a class="right app_strelica" onclick="right()">&#10095;</a> -->
        </section>
    </main>
    <section class="Ostali_projekti">
        <a href="/jungle-portfolio">Jungle</a>
        <a href="/leko-i-partneri">Leko & Partneri</a>
        <a href="/intention-keeper" class="trenutno">Intention Keeper</a>
    </section>
</Layout>
<!-- <script>
    const app = document.querySelector(".app");
    const firstImg = app.querySelectorAll("img")[0];

    let firstImgWidth = firstImg.clientWidth + 32; // getting firsth img width  and adding 32px (30m 2b) for the margin value

    function left() {
        app.scrollLeft -= firstImgWidth;
    }
    function right() {
        app.scrollLeft += firstImgWidth;
    }


</script> -->