---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets";
import jungle from "../asssets/images/ui_design/jungle.jpg"
import home from "../asssets/images/projects/jungle/home.jpg"
import onama from "../asssets/images/projects/jungle/about_us.jpg"
import tecajevi from "../asssets/images/projects/jungle/zumba.jpg"
import termini from "../asssets/images/projects/jungle/dates.jpg"
import upis from "../asssets/images/projects/jungle/enrollment_form.jpg"
import kontakt from "../asssets/images/projects/jungle/contact.jpg"
---

<Layout title="Iva Valencic - Designer">
    <main>
        <section class="Ostali_projekti">
            <a href="/jungle-portfolio" class="trenutno">Jungle</a>
            <a href="/leko-i-partneri">Leko & Partneri</a>
            <a href="/intention-keeper">Intention Keeper</a>
        </section>
        <div class="mockup_right">
            <section class="portfolio_ui_web">
                <div class="portfolio_ui_text">
                    <h3 class="h3_full">Jungle</h3>
                    <h3>Dance studio</h3>
                    <p>This profound dance studio located in the heart of Zagreb offers a captivating blend of classical
                        and Zumba dances that ignites a passion for movement. As a web designer, I aimed to capture that
                        movement through an elegant and classic site. I had the pleasure of collaborating with my
                        talented colleague, Tee Huljek, who created a stunning logo that served as the inspiration for
                        this exquisite web design.</p>
                    <a href="https://www.figma.com/proto/XV01yFse3RNwkVUkXaLVcd/Jungle?page-id=0%3A1&type=design&node-id=2-4&viewport=464%2C438%2C0.31&scaling=min-zoom&starting-point-node-id=2%3A4"
                        class="btn" target="_blank">figma prototype</a>
                </div>
            </section>
            <Image src={jungle} alt="Jungle dance studio" class="projekt_web_img" title="jungle" />

        </div>
        <Image src={jungle} alt="Jungle dance studio" class="projekt_mob_img" title="jungle" />
        <section class="container">
            <p>Drawing inspiration from the logo redesign, I sought to create a visually immersive experience that
                seamlessly combines the raw energy of the jungle with the refined elegance of classical dances. To
                achieve this, I embraced a palette of earthy and natural muted colors, invoking a sense of connectivity
                and harmony with the natural world. To capture the essence of classical dances, I incorporated design
                elements that exude sophistication and grace.</p>
        </section>
        <section class="wrapp wrapp_mob">
            <!-- <a class="left app_strelica" onclick="left()">&#10094;</a> -->
            <div class="app">
                <Image src={home} alt="Jungle Home" 
                    onclick="openModal();currentSlide(1)" class="hover-shadow cursor" title="home"/>
                <Image src={onama} alt="Jungle About us"
                    onclick="openModal();currentSlide(2)" class="hover-shadow cursor" title="onama"/>
                <Image src={tecajevi} alt="Jungle Zumba"
                    onclick="openModal();currentSlide(3)" class="hover-shadow cursor" title="tecajvi"/>
                <Image src={termini} alt="Jungle Dance dates"
                    onclick="openModal();currentSlide(4)" class="hover-shadow cursor" title="termini"/>
                <Image src={upis} alt="Jungle Enrollment form"
                    onclick="openModal();currentSlide(5)" class="hover-shadow cursor" title="upis"/>
                <Image src={kontakt} alt="Jungle Contact"
                    onclick="openModal();currentSlide(6)" class="hover-shadow cursor" title="kontakt"/>
            </div>
            <!-- <a class="right app_strelica" onclick="right()">&#10095;</a> -->
        </section>
        <section>
            <div class="container gallery web_img">
                <Image src={home} alt="Jungle Home" onclick="openModal();currentSlide(1)"
                    class="hover-shadow cursor" title="home"/>
                <Image src={onama} alt="Jungle About us"
                    onclick="openModal();currentSlide(2)" class="hover-shadow cursor" title="onama"/>
                <Image src={tecajevi} alt="Jungle Zumba"
                    onclick="openModal();currentSlide(3)" class="hover-shadow cursor" title="tecajvi"/>
            </div>
            <div class="container gallery web_img">
                <Image src={termini} alt="Jungle Dance dates"
                    onclick="openModal();currentSlide(4)" class="hover-shadow cursor" title="termini"/>
                <Image src={upis} alt="Jungle Enrollment form"
                    onclick="openModal();currentSlide(5)" class="hover-shadow cursor" title="upis"/>
                <Image src={kontakt} alt="Jungle Contact"
                    onclick="openModal();currentSlide(6)" class="hover-shadow cursor" title="kontakt"/>
            </div>
        </section>

        <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">

                <div class="mySlides">
                    <Image src={home} alt="Jungle Home" style="width:100%" title="home"/>
                </div>

                <div class="mySlides">
                    <Image src={onama} alt="Jungle About us" style="width:100%" title="onama"/>
                </div>

                <div class="mySlides">
                    <Image src={tecajevi} alt="Jungle Zumba" style="width:100%" title="tecajvi"/>
                </div>

                <div class="mySlides">
                    <Image src={termini} alt="Jungle Dance dates" style="width:100%" title="termini"/>
                </div>
                <div class="mySlides">
                    <Image src={upis} alt="Jungle Enrollment form" style="width:100%" title="upis"/>
                </div>
                <div class="mySlides">
                    <Image src={kontakt} alt="Jungle Contact" style="width:100%" title="kontakt"/>
                </div>

                <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a> -->

                <div class="caption-container">
                    <p id="caption"></p>
                </div>


                <div class=" gallerymini">
                    <Image class="demo" src={home} alt="Jungle Home"
                        onclick="currentSlide(1)" title="home"/>
                    <Image class="demo " src={onama} alt="Jungle About us"
                        onclick="currentSlide(2)" title="onama"/>
                    <Image class="demo" src={tecajevi} alt="Jungle Zumba"
                        onclick="currentSlide(3)" title="tecajvi"/>
                </div>
                <div class=" gallerymini">
                    <Image class="demo" src={termini} alt="Jungle Dance dates"
                        onclick="currentSlide(4)" title="termini"/>
                    <Image class="demo " src={upis} alt="Jungle Enrollment form"
                        onclick="currentSlide(5)" title="upis"/>
                    <Image class="demo" src={kontakt} alt="Jungle Contact"
                        onclick="currentSlide(6)" title="kontakt"/>
                </div>
            </div>
        </div>

    </main>
    <section class="Ostali_projekti">
        <a href="/jungle-portfolio" class="trenutno">Jungle</a>
        <a href="/leko-i-partneri">Leko & Partneri</a>
        <a href="/intention-keeper">Intention Keeper</a>
    </section>
</Layout>
<!-- <script>
    function openModal() {
        document.getElementById("myModal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("myModal").style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
    function openModal() {
        document.getElementById("myModal").style.display = "block";
        document.body.classList.add("modal-open"); // Add the class 'modal-open' to the body
    }

    function closeModal() {
        document.getElementById("myModal").style.display = "none";
        document.body.classList.remove("modal-open"); // Remove the class 'modal-open' from the body
    }
    const app = document.querySelector(".app");
    firstImg = app.querySelectorAll("img")[0];

    let firstImgWidth = firstImg.clientWidth + 32; // getting firsth img width  and adding 32px (30m 2b) for the margin value

    function left() {
        app.scrollLeft -= firstImgWidth;
    }
    function right() {
        app.scrollLeft += firstImgWidth;
    }
</script> -->
<style>
    .Ostali_projekti {
  width: 70%;
  margin: 0 auto;
}
.Ostali_projekti a {
  padding: 3px 2px;
  margin: 0 8px;
  color: #5b5b5b;
  text-decoration: none;
  font-size: 12px;
}
.Ostali_projekti a:hover {
  border-bottom: 0.5px solid #000000;
}
.trenutno {
  border-bottom: 0.5px solid #000000;
}
.mockup_right {
  width: 96%;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 14%;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.mockup_right img {
  object-fit: scale-down;
  overflow: hidden;
}
.portfolio_ui_web {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
}
.portfolio_ui_text {
  width: 70%;
  text-align: left;
  padding-top: 30px;
}
.portfolio_ui_text p {
  padding-top: 40px;
  padding-bottom: 60px;
}
.portfolio_ui_web .btn {
  padding: 30px 40px;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
}
.portfolio_ui_web .btn:hover {
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
}
.gallery {
  overflow: hidden;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gallery img {
  width: 33.333333%;
  padding: 10px;
  height: fit-content;
  transition: all 0.3s linear;
}
.gallery img:hover {
  padding: 0;
}

.gallerymini {
  overflow: hidden;
  height: 300px;
  margin-bottom: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #000000;
}

.gallerymini img {
  width: 33.333333%;
  padding: 10px;
  height: fit-content;
  transition: all 0.3s linear;
}

.gallerymini img:hover {
  padding: 0;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
}

/* The Close Button */
.close {
  color: white;
  position: fixed;
  top: 10px;
  right: 40px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

body.modal-open {
  overflow: hidden;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: fixed;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  margin-right: 17px;
  right: 6.5%;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 6.5%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mob_img {
  display: none;
  }
  .projekt_mob_img {
  display: none;
  }
  .wrapp_mob {
  display: none;
  }
@media (max-width: 768px) {
  .Ostali_projekti {
    width: 70%;
    margin: 0 auto;
  }
  .Ostali_projekti a {
    margin: 0 5px;
    font-size: 12px;
  }

  .mockup_right {
    width: 100%;

    margin-left: 0;
    margin-top: 0;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .projekt_mob_img {
    width: 85%;
    margin-left: 15%;
    display: inline;
  }

  .portfolio_ui_text {
    width: 100%;
    padding-top: 0px;
  }

  .portfolio_ui_web .btn {
    padding: 30px 40px;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
  }
  .projekt_mob_img {
  display: none;
  }
  .wrapp_mob {
  display: none;
  }.web_img_main {
    display: none;
  }
  .mob_img {
    display: inline;
  }
  .projekt_web_img {
    display: none;
  }
  .projekt_mob_img {
    display: inline;
    min-width: 700px;
  }
  
}
@media only screen and (max-width: 1400px) and (min-width: 760px) {
   .mockup_right {
    width: 70%;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0px;
  }
  .mockup_right img {
    width: 100%;
  margin-top: 60px;
  }
  .portfolio_ui_web {
    margin: 0;
    width: 100%;
    padding: 0;
  }
  .portfolio_ui_text {
    width: 100%;
    
  }
  
  .portfolio_ui_web .btn {
    padding: 20px 20px;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
  }
  .gallery {
    
    height: 150px;
    
  }
  
  .gallerymini {
    
    height: 200px;
    
  }
}

</style>
