---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets";
import Button from '../components/Button.astro';
import leko from "../assets/images/ui_design/leko.jpg"
import naslovna from "../assets/images/projects/leko/home.jpg"
import onama from "../assets/images/projects/leko/about_us.jpg"
import nastim from "../assets/images/projects/leko/our_team.jpg"
import timosoba from "../assets/images/projects/leko/team_person.jpg"
import usluge from "../assets/images/projects/leko/services.jpg"
import kontakt from "../assets/images/projects/leko/contact.jpg"
---

<Layout title="Iva Valencic - Designer">
    <main>
        <section class="Ostali_projekti">
            <a href="/jungle-portfolio">Jungle</a>
            <a href="/leko-i-partneri" class="trenutno">Leko & Partneri</a>
            <a href="/intention-keeper">Intention Keeper</a>
            <a href="/projects">Projects</a>
        </section>
        <div class="mockup_right">
            <section class="container portfolio_ui_web">
                <div class="portfolio_ui_text">
                    <h3 class="h3_full">Leko and partners</h3>
                    <h3>Law firm</h3>
                    <p>Leko & Partners is a prestigious law firm with over 30 years of experience in providing exceptional legal consulting services. As a web designer, I had the privilege of creating a visually captivating online presence that truly reflects their status as a premium service.</p>
                    <a href="https://www.figma.com/proto/WcraIe19Y7ou6EZKvjgH3B/Leko-i-partneri?page-id=0%3A1&type=design&node-id=606-1105&viewport=391%2C373%2C0.03&t=9YycYTaCmyzzJMau-1&scaling=min-zoom&mode=design"
                        target="_blank"><Button id="btn">figma prototype</Button></a>
                </div>
            </section>
            <Image src={leko} alt="Leko and partners" class="projekt_web_img" title="leko" />
        </div>
        <Image src={leko} alt="Leko and partners" class="mob_img projekt_mob_img" title="leko" />
        <section class="container">
            <p>To ensure that the website perfectly aligns with Leko & Partners' vision, I incorporated their new brand colors, exuding elegance and professionalism throughout every page. Through careful collaboration and understanding of their unique requirements, with the help of Luna&Tocka, I crafted an experience that brilliantly showcases their expertise. With engaging visuals, concise yet compelling content, and intuitive navigation, I aimed to create an immersive experience that effectively communicates Leko & Partners' dedication to providing top-tier legal advice and guidance.</p>
        </section>
        <section class="wrapp wrapp_mob">
            <!-- <a class="left app_strelica" onclick="left()">&#10094;</a> -->
            <div class="app">
                <Image src={naslovna} alt="Leko & Partners Home"
                    onclick="openModal();currentSlide(1)" class="hover-shadow cursor" title="naslovna" />
                <Image src={onama} alt="Leko & Partners About us"
                    onclick="openModal();currentSlide(2)" class="hover-shadow cursor" title="onama" />
                <Image src={nastim} alt="Leko & Partners Team"
                    onclick="openModal();currentSlide(3)" class="hover-shadow cursor" title="nastim" />
                <Image src={timosoba} alt="Leko & Partners Person"
                    onclick="openModal();currentSlide(4)" class="hover-shadow cursor" title="timosoba" />
                <Image src={usluge} alt="Leko & Partners Services"
                    onclick="openModal();currentSlide(5)" class="hover-shadow cursor" title="usluge" />
                <Image src={kontakt} alt="Leko & Partners Contact"
                    onclick="openModal();currentSlide(6)" class="hover-shadow cursor" title="kontakt" />
            </div>
            <!-- <a class="right app_strelica" onclick="right()">&#10095;</a> -->
        </section>
        <section>
            <div class="container gallery web_img">
                <Image src={naslovna} alt="Leko & Partners Home"
                    onclick="openModal();currentSlide(1)" class="hover-shadow cursor" title="naslovna" />
                <Image src={onama} alt="Leko & Partners About us"
                    onclick="openModal();currentSlide(2)" class="hover-shadow cursor" title="onama" />
                <Image src={nastim} alt="Leko & Partners Team"
                    onclick="openModal();currentSlide(3)" class="hover-shadow cursor" title="nastim" />
            </div>
            <div class="container gallery web_img">
                <Image src={timosoba} alt="Leko & Partners Person"
                    onclick="openModal();currentSlide(4)" class="hover-shadow cursor" title="timosoba" />
                <Image src={usluge} alt="Leko & Partners Services"
                    onclick="openModal();currentSlide(5)" class="hover-shadow cursor" title="usluge" />
                <Image src={kontakt} alt="Leko & Partners Contact"
                    onclick="openModal();currentSlide(6)" class="hover-shadow cursor" title="kontakt" />
            </div>
        </section>

        <!-- <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">

                <div class="mySlides">
                    <Image src={naslovna} alt="Leko & Partners Home" style="width:100%">
                </div>

                <div class="mySlides">
                    <Image src={onama} alt="Leko & Partners About us" style="width:100%">
                </div>

                <div class="mySlides">
                    <Image src={nastim} alt="Leko & Partners Team" style="width:100%">
                </div>

                <div class="mySlides">
                    <Image src={timosoba} alt="Leko & Partners Person" style="width:100%">
                </div>
                <div class="mySlides">
                    <Image src={usluge} alt="Leko & Partners Services" style="width:100%">
                </div>
                <div class="mySlides">
                    <Image src={kontakt} alt="Leko & Partners Contact" style="width:100%">
                </div> -->

                <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a> -->

                <!-- <div class="caption-container">
                    <p id="caption"></p>
                </div>


                <div class=" gallerymini">
                    <Image src={naslovna} alt="Leko & Partners Home"
                        onclick="currentSlide(1)" class="demo" title="naslovna" />
                    <Image src={onama} alt="Leko & Partners About us"
                        onclick=";currentSlide(2)" class="demo" title="onama" />
                    <Image src={nastim} alt="Leko & Partners Team"
                        onclick=";currentSlide(3)" class="dedmo" title="nastim" />
                </div>
                <div class=" gallerymini">
                    <Image src={timosoba} alt="Leko & Partners Person"
                        onclick="currentSlide(4)" class="demo" title="timosoba" />
                    <Image src={usluge} alt="Leko & Partners Services"
                        onclick="currentSlide(5)" class="demo" title="usluge" />
                    <Image src={kontakt} alt="Leko & Partners Contact"
                        onclick="currentSlide(6)" class="demo" title="kontakt" />
                </div>
            </div>
        </div> -->
    </main>
    <section class="Ostali_projekti">
        <a href="/jungle-portfolio">Jungle</a>
        <a href="/leko-i-partneri" class="trenutno">Leko & Partneri</a>
        <a href="/intention-keeper">Intention Keeper</a>
    </section>
</Layout>
    <!-- <script>
        function openModal() {
            document.getElementById("myModal").style.display = "block";
        }
    
        function closeModal() {
            document.getElementById("myModal").style.display = "none";
        }
    
        var slideIndex = 1;
        showSlides(slideIndex);
    
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }
    
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }
    
        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }
        const app = document.querySelector(".app");
        firstImg = app.querySelectorAll("img")[0];
    
        let firstImgWidth = firstImg.clientWidth + 32; // getting firsth img width  and adding 32px (30m 2b) for the margin value
    
        function left() {
            app.scrollLeft -= firstImgWidth;
        }
        function right() {
            app.scrollLeft += firstImgWidth;
        }
    
    </script> -->
<style>
    .Ostali_projekti {
  width: 70%;
  margin: 0 auto;
}
.Ostali_projekti a {
  padding: 3px 2px;
  margin: 0 8px;
  color: #5b5b5b;
  text-decoration: none;
  font-size: 12px;
}
.Ostali_projekti a:hover {
  border-bottom: 0.5px solid #000000;
}
.trenutno {
  border-bottom: 0.5px solid #000000;
}
.mockup_right {
  width: 96%;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 14%;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.mockup_right img {
  object-fit: scale-down;
  overflow: hidden;
}
.portfolio_ui_web {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
}
.portfolio_ui_text {
  width: 70%;
  text-align: left;
  padding-top: 30px;
}
.portfolio_ui_text p {
  padding-top: 40px;
  padding-bottom: 60px;
}
.portfolio_ui_web #btn {
  padding: 30px 40px;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
}
.portfolio_ui_web #btn:hover {
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
}
.gallery {
  overflow: hidden;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gallery img {
  width: 33.333333%;
  padding: 10px;
  height: fit-content;
  transition: all 0.3s linear;
}
.gallery img:hover {
  padding: 0;
}

.gallerymini {
  overflow: hidden;
  height: 300px;
  margin-bottom: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #000000;
}

.gallerymini img {
  width: 33.333333%;
  padding: 10px;
  height: fit-content;
  transition: all 0.3s linear;
}

.gallerymini img:hover {
  padding: 0;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
}

/* The Close Button */
.close {
  color: white;
  position: fixed;
  top: 10px;
  right: 40px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

body.modal-open {
  overflow: hidden;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: fixed;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  margin-right: 17px;
  right: 6.5%;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 6.5%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mob_img {
  display: none;
  }
  .projekt_mob_img {
  display: none;
  }
  .wrapp_mob {
  display: none;
  }
@media (max-width: 768px) {
  .Ostali_projekti {
    width: 70%;
    margin: 0 auto;
  }
  .Ostali_projekti a {
    margin: 0 5px;
    font-size: 12px;
  }

  .mockup_right {
    width: 100%;

    margin-left: 0;
    margin-top: 0;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .projekt_mob_img {
    display: none;
  }
  
  .portfolio_ui_text {
    width: 100%;
    padding-top: 0px;
  }

  .portfolio_ui_web .btn {
    padding: 30px 40px;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
  }
  .projekt_web_img {
    display: none;
  }
  .projekt_mob_img {
    display: inline;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 760px) {
   .mockup_right {
    width: 70%;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0px;
  }
  .mockup_right img {
    width: 100%;
  margin-top: 60px;
  }
  .portfolio_ui_web {
    margin: 0;
    width: 100%;
    padding: 0;
  }
  .portfolio_ui_text {
    width: 100%;
    
  }
  
  .portfolio_ui_web .btn {
    padding: 20px 20px;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
  }
  .gallery {
    
    height: 150px;
    
  }
  
  .gallerymini {
    
    height: 200px;
    
  }
}

</style>
